<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MsAccessRestrictor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <MsAccessRestrictor.Properties.Settings>
      <setting name="Password" serializeAs="String">
        <value>dupa</value>
      </setting>
      <setting name="OpenMsAccess" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenDbFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DbFilePath" serializeAs="String">
        <value>C:\Files\Database1.accdb</value>
      </setting>
      <setting name="DisableRibbon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisableNavigationPane" serializeAs="String">
        <value>True</value>
      </setting>
    </MsAccessRestrictor.Properties.Settings>
  </applicationSettings>
</configuration>